<link href="~/Content/GeneralStyle.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>

<div class="container active">
    <div class="container">
        
        <table class="table table-responsive tableStyle_blue roundedBorder">
            <thead>
                <tr style="border-bottom:solid">
                    <th style="font-size:15px;border-right:solid 5px white">Search/Arrange for Safe Places to Meetup!</th>
                    <th style="font-size:15px; border-right:solid 5px white">Add New Places!</th>
                    <th style="font-size:15px">More Feature In Progress!</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td ></td>
                </tr>

                <tr>
                    <td style="border:hidden"></td>
                </tr>
                <tr>
                    <td style="border:hidden"></td>
                </tr>
            </tbody>

        </table>         
    </div>
</div>
