################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SafeSurroundings/v16/.suo
/SafeSurroundings/.vs/SafeSurroundings/v16/.suo
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
mono_crash.*
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
*.psess
*.vsp
*.vspx
*.sap
*.sqlite
*.testlog
/SafeSurroundings/.vs/SafeSurroundings/v17/TestStore/0/testlog.manifest
/SafeSurroundings/SafeSurroundings/bin/SafeSurroundings.Data.dll
/SafeSurroundings/SafeSurroundings/bin/SafeSurroundings.dll.config
*.cache
/SafeSurroundings/SafeSurroundings/obj/Debug/SafeSurroundings.dll
*.CopyComplete
/SafeSurroundings/SafeSurroundings/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/SafeSurroundings/SafeSurroundings.Data/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/SafeSurroundings/SafeSurroundings.Data/obj/Debug/SafeSurroundings.Data.csproj.FileListAbsolute.txt
/SafeSurroundings/SafeSurroundings.Data/obj/Debug/SafeSurroundings.Data.dll
/SafeSurroundings/SafeSurroundings.Data/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/SafeSurroundings/SafeSurroundings.Tests/bin/Debug
/SafeSurroundings/SafeSurroundings.Tests/obj/Debug/SafeSurroundings.Tests.csproj.FileListAbsolute.txt
/SafeSurroundings/SafeSurroundings.Tests/obj/Debug/SafeSurroundings.Tests.dll
/SafeSurroundings/SafeSurroundings.Tests/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
