################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SafeSurroundings/v16/.suo
/SafeSurroundings/.vs/SafeSurroundings/v16/.suo
