<div id="homeCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="homeCarousel" data-slide-to="0" class="active"></li>
        <li data-target="homeCarousel" data-slide-to="1"></li>
        <li data-target="homeCarousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
        <div class="item active">
            <img src="~/Images/hangoutPicture2.jpg" style="height: 400px; width: 100%" />
            <div class="carousel-caption">

                <div class="panel-heading">
                    <div class="panel-body bg-primary roundedBorder">
                        <h2>MeetUp!</h2>
                        <p>Meet at places based on safety rating</p>
                        </div>
                    </div>
                </div>
            </div>

        <div class="item">
            <img src="~/Images/appointmentPicture.jpg" style="height: 400px; width: 100%" />
            <div class="carousel-caption">
                <div class="panel-heading">
                    <div class="panel-body bg-primary roundedBorder">
                        <h2>Arrange Meetup!</h2>
                        <p>Pick your date, time, and place</p>
                    </div>
                </div>
                </div>
            </div>


        <div class="item">
            <img src="~/Images/riskImage.jpg" style="height: 400px; width: 100%" />
            <div class="carousel-caption">
                <div class="panel-heading">
                    <div class="panel-body bg-primary roundedBorder">
                        <h2>Safety Rating!</h2>
                        <p>Look for a place to rate and view safety rating.</p>
                        </div>
                    </div>
                    </div>
                </div>
            </div>

        <a class="left carousel-control" href="#homeCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#homeCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>


    </div>
</div>

