<link href="~/Content/GeneralStyle.css" rel="stylesheet" />
<div>
    @if ((Session.Keys.Count > 0) && (!String.IsNullOrEmpty(Convert.ToString(Session["sessionGuid"]))) && (!String.IsNullOrEmpty(Convert.ToString(Session["avatarSrc"]))))
    {
        try
        {
            <img src="@Url.Content(Convert.ToString(Session["avatarSrc"]))" alt="avatar" class="navBar-brand-profile-picture" />
        }
        catch
        {
            <img src="~/Images/dog.png" alt="avatar" class="navBar-brand-profile-picture" />
        }
    }
        @Html.ActionLink("Safe Surroundings", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
    </div>