.roundedBorder{
    border-radius:20px;
    padding:20px;
}

.tableStyle_green{
    background-color:rgb(52, 235, 177);
}

.tableStyle_purple {
    background-color: rebeccapurple;
    color:cornflowerblue;
    font-size: 20px;

}

.fontColor{
    color:rgb(52,235,177);
}

.navBar-brand-profile-picture {
    height: 60px;
    width: 60px;
    padding: 5px;
    border-radius:50%;
}

.fieldNames {
    color: darkgreen;
    font-size: 20px;
    font-family: Calibri;
    background-color: cornflowerblue;
    border-radius: 15px 50px;
    text-align: center;
}

.buttons{
    background-color:dodgerblue;
    color:white;
}