.roundedBorder{
    border-radius:20px;
    padding:20px;
}

.tableStyle_green{
    background-color:rgb(52, 235, 177);
}

.tableStyle_blue {
    background-color: cornflowerblue;
    color:rebeccapurple;
    font-size: 20px;

}

.table_purple_forLarge{
background-color:cornflowerblue;
color:rebeccapurple;
font-size: 15px;
resize:vertical;
text-size-adjust: auto;
}

.tdCenterNoBorder{
border:hidden;
}

.fontColor{
    color:rgb(52,235,177);
}

.navBar-brand-profile-picture {
    height: 60px;
    width: 60px;
    padding: 5px;
    border-radius:50%;
}

.fieldNames {
    color: rebeccapurple;
    font-size: 20px;
    font-family: Calibri;
    background-color: cornflowerblue;
    border-radius: 55px 55px;
    text-align: center;
}

.dropDown{
 color:white;
 font-size: 20px;
 background-color: rebeccapurple;
}

.buttons{
    background-color:dodgerblue;
    color:white;
}

.titleFont{
    color:rebeccapurple;
    font-size:20px;
    background-color:cornflowerblue;
}